# Samba configuration, managed by Ansible. Please don't edit manually
# {{ ansible_managed }}
#
# vim: ft=samba

# create new
# specify domain name
option domain-name "{{ global_domain_name }}";

# specify name server's hostname or IP address
option domain-name-servers {{ global_domain_name_servers }};

# default lease time
default-lease-time {{ default_lease_time }};

# max lease time
max-lease-time {{ max_lease_time }};

# this DHCP server to be declared valid
{{ reliablity|default('authorative') }};

{% for subnet in subnets %}

# specify network address and subnet mask
subnet {{ subnet.ip }} netmask {{ subnet.netmask }} {
    option domain-name {{ subnet.domain_name }};
    # specify the range of lease IP address
    range dynamic-bootp {{ subnet.range }};
    # specify broadcast address
    option broadcast-address {{ subnet.broadcast }};
    # specify default gateway
    option routers {{ subnet.default_gateway }};
    # specify dns server
    option domain-name-servers {{ subnet.dns_servers }};
}

{% endfor %}

{% for host in reserved_ips %}

host {{ host.hostname }} {
  hardware ethernet {{ host.mac }};
  fixed-address {{ host.ip }};
  option host-name "{{ host.hostname }}";
}

{% endfor %}