// named.conf
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
// See /usr/share/doc/bind*/sample/ for example named configuration files.
options {
        listen-on port 53 { {% for value in bind_listen_ipv4 %} {{ value }}; {% endfor %}};
        listen-on-v6 port 53 { {% for value in bind_listen_ipv4 %} {{ value }}; {% endfor %}};
        directory       "/var/named";
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        allow-query     { {% for value in bind_allow_query %} {{ value }}; {% endfor %}};

        dnssec-enable yes;
        dnssec-validation yes;
        dnssec-lookaside auto;

        /* Path to ISC DLV key */
        bindkeys-file "/etc/named.iscdlv.key";
        managed-keys-directory "/var/named/dynamic";
        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";
};
logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};
zone "." IN {
        type hint;
        file "named.ca";
};
{% for value in bind_naam %}
zone "{{ value.name }}" IN {
type slave;
file "slaves/{{ value.name }}.fwd";
masters { {{value.ip}}; };
};
{% endfor %}

{% for value in bind_zoneslave %}
zone "{{ value.name }}.in-addr.arpa" IN {
type slave;
file "slaves/{{ value.name }}.ref";
masters { {{value.ip}}; };
};
{% endfor %}
include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";